
.thumbnail{
    width: 100%;
    
}

.video-title{
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-info{
    display: inline-block;
    width: 200px;
}
.channel-pic{
    display: inline-block;
    vertical-align: top;
    width: 50px;
}
.profie-picture{
   width: 35px;
   border-radius: 50px;
   
}
.thumbnail-row{
   margin-bottom: 12px;
   position: relative;
}
.channel-name,
.video-views{
   font-size: 12px;
   color: rgb(96, 96, 96);
}
.channel-name{
    margin-bottom: 4px;
}
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
.video-time{
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}